    <footer>
      <div class="owner">
      <p><a href="https://github.com/big-data-lab" class="avatar"><img src="https://avatars0.githubusercontent.com/u/11171399?v=3&amp;s=60" width="48" height="48"></a> <a href="https://github.com/big-data-lab">big-data-lab</a> maintains <a href="https://github.com/big-data-lab/K-Tree">K-tree</a></p>


      </div>
      <div class="creds">
        <small>theme by <a href="https://twitter.com/jonrohan/">Jon Rohan</a></small>
      </div>
      
    </footer>
    
    